$bg-color: #2A8086;
$brand-color: F3F7F8;
$primary-color: #0D444D;
$light-color: #F3F7F8;
$primary-bg: rgba(185, 213, 217, .2);
$title-color: #2D2D2D;
$additional-color: #19707D;
$footer-bg: #196469;
$nav-color: #C5E1E6;
// Layouts width
$layout-width: 1920px;
$content-width: 1480px;
$laptop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;