.cards {
    display: flex;
    justify-content: space-around;
    padding: 8rem 0 14.5rem;
    text-align: center;
}

.ico {
    border-radius: 50%;
    display: inline-flex;
    width: 15rem;
    height: 15rem;
    background-color: #fff;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.card_text {
    @include font (1.4rem, 2rem, normal);
    font-family: Roboto, sans-serif;
    padding-top: 1.4rem;
}