.footer {
    background-color: $footer-bg;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    // padding: 5rem 0;
}

.footer__logo {
    margin: 5rem 0;
    @include media-laptop {
        margin: 1.7rem 0 3rem;
    }
}