.pets {
    margin-bottom: 10rem;
    @include media-laptop {
        margin-bottom: 7.5rem;
    }
    @include media-tablet {
        display: none;
    }
    @include media-mobile {
        display: block;
        position: relative;
        margin: 0;
        padding-bottom: 8rem;
        padding-top: 6rem;
    }
}

.pets__wrapper {
    @include media-mobile {
        overflow: hidden;
    }
}

.pets__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.pets__button {
    display: flex;
    align-items: center;
    padding-right: 3rem;
    background: transparent;
    border: 1px solid $additional-color;
    color: $additional-color;
    img {
        padding: 1.4rem 1.7rem 1.4rem 2rem;
    }
    @include media-mobile {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
    }
}

.pets_slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media-mobile {
        margin-left: 15px;
        display: grid;
        grid-template-columns: 240px 240px 240px;
        column-gap: 70px;
    }
}

.pets__cads {
    background-color: #fff;
    flex-basis: 30%;
    margin-bottom: 2rem;
    box-shadow: 0px 1.91572px 28.7357px rgba(0, 0, 0, 0.06);
    border-radius: 9.57858px;
    img {
        padding: 2rem 12.6rem 3.2rem;
        width: 100%;
        @include media-laptop {
            padding: 2rem 8rem 2.2rem;
        }
        @include media-mobile {
            padding: 49px 44px 43px 44px;
        }
    }
}

.pets__cards_img {
    border-bottom: 1px solid #E5EAEB;
}

.pets__cards_title {
    @include font(2.4rem, 2.813rem, 700);
    font-family: Roboto, sans-serif;
    color: $title-color;
    padding-bottom: .6rem;
    @include media-laptop {
        @include font(1.7rem, 2rem, 600)
    }
}

.pets__cards_text {
    @include font(1.6rem, 1.9rem, normal);
    font-family: Roboto, sans-serif;
    color: #919191;
    @include media-laptop {
        @include font(1.34rem, 1.6rem, normal)
    }
}

.pets__cards_content {
    padding: 1.7rem 3rem 2.1rem;
    @include media-mobile {
        padding: 12px 15px 23px 12px;
    }
}