    .testimonials {
        margin-top: 10rem;
        @include media-tablet {
            display: none;
        }
        @include media-mobile {
            display: block;
            position: relative;
            margin-top: 6rem;
        }
    }
    
    .testimonials__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5.2rem;
    }
    
    .testimonials__button {
        background-color: transparent;
        padding: 1.4rem 2rem;
        border: 1.5px solid $additional-color;
        color: $additional-color;
        align-items: center;
        display: flex;
        img {
            padding-right: 2rem;
        }
        @include media-mobile {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 2rem;
        }
    }
    
    .testimonials__cards {
        display: flex;
        justify-content: space-between;
        font-family: Roboto, sans-serif;
        padding-bottom: 10rem;
        @include media-mobile {
            flex-direction: column;
        }
    }
    
    .testimonials__item {
        flex-basis: 32.5%;
        @include media-mobile {
            margin-bottom: 2rem;
        }
    }
    
    .testimonials__content {
        background: #fff;
        position: relative;
        border-radius: 1rem;
        margin-bottom: 2rem;
        &::after {
            content: "";
            position: absolute;
            left: 8rem;
            bottom: -40px;
            border: 20px solid transparent;
            border-top: 22px solid #fff;
        }
    }
    
    .testimonials__content_desc {
        max-width: 39rem;
        margin: 0 auto;
        @include media-laptop {
            padding: 0 10rem 0 4.5rem;
        }
        @include media-mobile {
            padding: 0 1.4rem 0 0;
        }
    }
    
    .testimonials_date {
        @include font(1.4rem, 1.641rem, 400);
        color: #B2B2B2;
        padding: 2rem 0 1rem;
    }
    
    .testimonials_text {
        @include font(1.6rem, 1.875rem, 400);
        font-style: italic;
        padding-bottom: 10rem;
        @include media-laptop {
            padding-bottom: 7rem;
        }
        @include media-mobile {
            padding-bottom: 3.7rem;
        }
    }
    
    .testimonials_people {
        display: flex;
        align-items: center;
    }
    
    .testimonials_img {
        padding-left: 2rem;
    }
    
    .testimonials_name {
        margin-left: 1.6rem;
        @include font(1.6rem, 1.9rem, normal);
        font-style: italic;
        font-family: Roboto, sans-serif;
    }