button {
    cursor: pointer;
    @include font(1.8rem, 2.374rem, normal);
    font-family: Roboto-mono, sans-serif;
    letter-spacing: -0.05em;
    @extend %transition;
    border: none;
    outline: none;
    border-radius: 10rem;
    text-transform: uppercase;
    @include media-mobile {
        @include font(1.4rem, 1.8rem, normal);
    }
}